@import "../../css-config/mixins.scss";
.special__section {
  position: relative;
  z-index: 2;
  padding: 2rem 2rem 0 2rem;
  @include md {
    padding: 10rem 10rem 0 10rem;
  }
  .mostPopularOuter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    grid-template-rows: auto auto;
    @include md {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: auto auto auto auto auto auto;
    }
  }
  &.first-section {
    background-color: transparent;
    .special__heading{
        color: white;
    }
  }
  .special__heading {
    color: rgba(0, 0, 0, 0.8);
    font-family: gilroy-bold;
    margin-top: -7rem;
    font-weight: 700;
    font-size: 2.5rem;
  }
  .special__card {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    gap: 2.5rem;
  }
}
